#contact-heading{
    font-size:4em;
    font-family: 'Manjari', sans-serif;
    /* margin-bottom:1em;s */
}

#contact-adbar-container{
    margin-top:5.35em;
}

#github-logo{
    width:100%;
    height: 100%
}

#github-logo:hover{
    filter:opacity(50%)
}

#email-logo{
    width:100%;
    height: 100%
}

#logo-container{
    float:left;
    margin-left:4em;
    width:8.1em;
    /* border:1px solid red; */
}
#logo-container img{
    
    margin-bottom:1em;
    
}

#logo-container img:hover{
    /* filter: brightness(121%); */
    filter:opacity(50%)
}

#slogans{
    float:right;
    margin-right:7em;
    text-align:left;
    /* line-height: 2.7 em; */
    /* border:1px solid black; */
    font-family: 'Manjari', sans-serif;
    font-size:2em;
}

#slogans h2{
    margin-bottom:2.1em;
}